<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{article.title}} <a data-ng-show="global.user._id == article.user._id" href="/#!/articles/{{article._id}}/edit">[edit]</a></h3>
			<small><span>{{article.created | date:'medium'}}</span> /
			<span>{{article.user.name}}</span></small>
		</div>
		<div class="panel-body">
			<div>{{article.content}}</div>
		</div>
	</div>
</section>
